<section id="about" class="container content-section text-center">
    <div id="about_change" class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
            <h2>About Me</h2>
            <hr class="intro-divider">
            <br/>
                <p><font size="4px"> A recent graduate with a master's degree in Statistics, I enjoy creating nuanced insight from data to better inform institutional decision-making. Trained in multivariate data analysis, predictive modeling, computational methods for optimization, and machine learning techniques. Experience in data cleaning, visualization, and analysis. </font></p>
                <p><font size="4px"> </font></p>
            <p><font size="4px"> Outside of my career: I enjoy learning about different cultures, cooking, dog-walking, and swimming. </a></font></p>
             <br/>
        </div>
    </div>
</section>






