<section id="about" class="container content-section text-center">
    <div id="about_change" class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <br/><br/>
            <h2>About Me</h2>
            <hr class="intro-divider">
            <br/>
                <p><font size="4px"> Master’s candidate in Statistics seeking to inform institutional decision-making with complex insights. A team player looking for mentorship in the field. Strengths include multivariate data analysis, predictive modeling, computational methods for optimization, and machine learning techniques. </font></p>
                <p><font size="4px"> </font></p>
            <p><font size="4px"> Outside of my career: I enjoy learning about different cultures, cooking, dog walking, and swimming. I began running during the COVID-19 pandemic. I hope to do more creative activities and travel in the future. </a></font></p>
             <br/>
        </div>
    </div>
</section>






